.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: none;
    height: 200px;
}

    .topnav a {
        float: left;
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 50px;
        width: 15%;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: dimgrey;
            color: bisque;
        }

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.forgot {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

    .forgot a {
        color: darkblue;
    }

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    text-align: center;
}

.image {
    background-image: url(registerr.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}




#form {
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #792099;
}

#form button {
    color: black;
    border: 1px solid #792099;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    width: 100%;
    border-radius: 50px;
    align-items: center;
    text-align: center;
    height: 4%;
    background-color: lightgray;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

    .input-group input {
        font-size: 20px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 50px;
        border-color: black;
        background-color: transparent;
    }

        .input-group input:focus {
            outline: 0;
        }

    .input-group .error {
        color: rgb(242, 18, 18);
        font-size: 16px;
        margin-top: 5px;
    }

    .input-group.success input {
        border-color: #0cc477;
    }

    .input-group.error input {
        border-color: rgb(206, 67, 67);
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: tan;
    color: black;
    text-align: left;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
